
<div class="card border-dark text-center mb-3">
    <div class="card-body">
    <div>
        <div class="float-left">
        <h5 class="card-title">
        <img class="card-img-top icon-index bg-light" [src]="this.profileUrl | async" alt="Card image cap">
        <p>
            <a class="btn-link" href="#" target="_blank">
                {{ product.name }}
            </a>
        </p>
        </h5>
        </div>
        <div>
        <p class="card-text">
            description
        </p>
        </div>
    </div>
    </div>
</div>