<div class="container mt-4">

  <h4>Register <small>store</small></h4>
  <hr>
  
  <form (ngSubmit)="saveData(dataForm)" #dataForm="ngForm" novalidate="">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Nombre Tienda</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (nameT.errors?.required || nameT.errors?.minlength) && nameT.touched }" 
                minlength="3" 
                [(ngModel)]="store.name" 
                name="nameT" type="text" 
                placeholder="Nombre Tienda" 
                #nameT="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="nameT.errors?.required">
            Este campo es requerido.
        </div>

        <div class="invalid-feedback" *ngIf="nameT.errors?.minlength">
            Este campo requiere al menos 3 caracteres.
        </div>

      </div>
    

    <div class="col-md-6 mb-3">
      <label>Telefono</label>
      <input class="form-control" 
              [ngClass]="{ 'is-invalid': (telefono.errors?.required) && telefono.touched }" 
              [(ngModel)]="store.telefono" 
              name="telefono" type="number" 
              placeholder="Telefono"
              #telefono="ngModel" required>
      
      <div class="invalid-feedback" *ngIf="telefono.errors?.required">
          Este campo es requerido.
      </div>
      
    </div>
  </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Direccion</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (Direccion.errors?.required ) && Direccion.touched }" 
               
                [(ngModel)]="store.Direccion" 
                name="Direccion" type="text" 
                placeholder="Direccion" 
                #Direccion="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="Direccion.errors?.required">
            Este campo es requerido.
        </div>

      </div>
    

      <div class="col-md-6 mb-3">
        <label>Email</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (Email.errors?.required || Email.errors?.minlength) && Email.touched }" 
               
                [(ngModel)]="store.Email" 
                name="Email" type="text" 
                placeholder="Email" 
                #Email="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="Email.errors?.required">
            Este campo es requerido.
        </div>

        
      </div>
    </div>

    <div class="form-row">
      
      <div class="col-md-6 mb-3">
        <label>password</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (password.errors?.required) && password.touched }" 
                [(ngModel)]="store.password" 
                name="password" type="string"
                placeholder="password" 
                #password="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="password.errors?.required">
            Este campo es requerido.
        </div>
        
      </div>
    </div>


    <div class="col text-center">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!dataForm.valid">
        Save Store
      </button>
    </div>


  </form>
 </div>
 
 

