<div class="card border-success">
  <!-- <div class="card-header">{{ product.name }}</div> -->
  <div class="card-body">
    <img class="card-img-top img-fluid mx-auto d-block" [src]="this.profileUrl | async" [alt]="product.name">
    <h5 class="card-title text-primary text-center mt-4">{{ product.name }}</h5>
    <div class="text-center">
      <a [routerLink]="" (click)="addShoppingCart()"><i [ngClass]="{ 'text-dark': !flag_shopping_cart }" class="fas fa-shopping-cart fa-2x"></i></a>
      <a [routerLink]="" (click)="text_red = !text_red"><i [ngClass]="{ 'text-danger': !text_red, 'text-dark': text_red }" class="ml-2 fas fa-heart fa-2x"></i></a>
    </div>
    <!--
    <ul class="list-unstyled">
        <li><i class="fas fa-check"></i> Android v4.4.2 (KitKat)</li>
        <li><i class="fas fa-check"></i> 13 MP,Autofocus, LED flash</li>
    </ul>
  -->
  </div>
  <div class="card-footer text-primary">
    <h4 class="text-primary text-center">{{ product.discount_price | currency }} <del class="text-danger">{{ product.price | currency }}</del> </h4>
  </div>
</div>