<div class="card border-success">
  <div class="card-header">{{ product.name }}</div>
  <div class="card-body">
    <img class="card-img-top" [src]="product.image" [alt]="product.name">
    <h5 class="card-title text-primary text-center mt-4">{{ product.name }}</h5>
    <ul class="list-unstyled">
        <li><i class="fas fa-check"></i> Android v4.4.2 (KitKat)</li>
        <li><i class="fas fa-check"></i> 13 MP,Autofocus, LED flash</li>
        <li><i class="fas fa-check"></i> 5.5 Inch Screen</li>
        <li><i class="fas fa-check"></i> 1080HD Video</li>
        <li><i class="fas fa-check"></i> 16M colors</li>
        <li><i class="fas fa-check"></i> Octa-core 1.7 GHz Cortex-</li>
    </ul>
  </div>
  <div class="card-footer text-primary">
    <h4 class="text-primary text-center">{{ product.price | currency }} <del class="text-danger">{{ product.discount_price | currency }}</del> </h4>
    <a class="btn btn-outline-primary btn-block">View</a>
  </div>
</div>