<div class="container mt-4">

  <h4>Registrar <small>producto</small></h4>
  <hr>
  
  <form (ngSubmit)="saveData(dataForm)" #dataForm="ngForm" novalidate="">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Nombre del producto</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (name.errors?.required || name.errors?.minlength) && name.touched }" 
                minlength="5" 
                [(ngModel)]="product.name" 
                name="name" type="text" 
                placeholder="Nombre" 
                #name="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="name.errors?.required">
            Este campo es requerido.
        </div>

        <div class="invalid-feedback" *ngIf="name.errors?.minlength">
            Este campo requiere al menos 5 caracteres.
        </div>

      </div>
      
      <div class="col-md-6 mb-3">
        <label>Stock</label>
        <input class="form-control" 
                [ngClass]="{ 
                  'is-invalid': (stock.errors?.required || stock.errors?.pattern) && stock.touched,
                  'is-valid': (!stock.errors?.required && !stock.errors?.pattern)
                }" 
                [(ngModel)]="product.stock" 
                name="stock" type="number" 
                placeholder="Stock"
                pattern="^[0-9]+"
                #stock="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="stock.errors?.required">
            Este campo es requerido.
        </div>

        <div class="invalid-feedback" *ngIf="stock.errors?.pattern">
            El campo solamente admite numeros positivos.
        </div>
        
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Precio del producto</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">BS</span>
          </div>
          <input class="form-control" 
                  [ngClass]="{ 
                    'is-invalid': (price.errors?.required || price.errors?.pattern) && price.touched,
                    'is-valid': (!price.errors?.required && !price.errors?.pattern)
                  }" 
                  [(ngModel)]="product.price" 
                  name="price" type="text" 
                  placeholder="Precio"
                  pattern="^[1-9]\d*(\.\d+)?$"
                  #price="ngModel" required>
          
          <div class="invalid-feedback" *ngIf="price.errors?.required">
              Este campo es requerido.
          </div>

          <div class="invalid-feedback" *ngIf="price.errors?.pattern">
              El campo solamente admite numeros positivos.
          </div>

        </div>
      </div>
      
      <div class="col-md-6 mb-3">
        <label>Precio del producto en descuento</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">BS</span>
          </div>
          <input class="form-control" 
                  [ngClass]="{ 
                    'is-invalid': (discount_price.errors?.required || discount_price.errors?.pattern) && discount_price.touched,
                    'is-valid': (!discount_price.errors?.required && !discount_price.errors?.pattern)
                  }" 
                  [(ngModel)]="product.discount_price" 
                  name="discount_price" type="number"
                  placeholder="Precio de descuento"
                  pattern="^[1-9]\d*(\.\d+)?$"
                  #discount_price="ngModel" required>
          
          <div class="invalid-feedback" *ngIf="discount_price.errors?.required">
              Este campo es requerido.
          </div>

          <div class="invalid-feedback" *ngIf="discount_price.errors?.pattern">
              El campo solamente admite numeros positivos.
          </div>

        </div>
        
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Colores disponibles</label>
        
        <ng-multiselect-dropdown 
          [ngClass]="{ 'is-invalid': (color.errors?.required) && color.touched }" 
          [placeholder]="'Selecciona colores'"
          [data]="dropdownList"
          name="color"
          #color="ngModel"
          [(ngModel)]="product.available_color"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          required
      >
      </ng-multiselect-dropdown>
        
        <div class="invalid-feedback" *ngIf="color.errors?.required">
            Este campo es requerido.
        </div>

      </div>
      
      <div class="col-md-6 mb-3">
        <label>Talla</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (size.errors?.required) && size.touched }" 
                [(ngModel)]="product.size" 
                name="size" type="number"
                placeholder="Talla de las zapatillas" 
                #size="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="size.errors?.required">
            Este campo es requerido.
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" 
              [ngClass]="{ 'is-invalid': (description.errors?.required) && description.touched }" 
              [(ngModel)]="product.description" 
              name="description"
              placeholder="Inserta una descripción del producto a ser registrada" 
              #description="ngModel" required></textarea>
      
      <div class="invalid-feedback" *ngIf="description.errors?.required">
          Este campo es requerido.
      </div>
      
    </div>
    
    <div class="form-group">
        <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" 
                   type="radio" 
                   name="sex" 
                   [(ngModel)]="product.sex"
                   value="male">
            <label class="form-check-label">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" 
                   type="radio" 
                   name="sex" 
                   [(ngModel)]="product.sex"
                   value="female">
            <label class="form-check-label">
              Femenino
            </label>
          </div>
        </div>
    </div>

    <div class="form-row">

      <div class="col-md-4">
        <label>Seleccione imagenes del producto</label>
        <div NgDropFiles [files]="files" (aboutMouse)="isAboutElement = $event" [ngClass]="{ 'file-over': isAboutElement }" class="well drop-zone">
          <h4>Arrastre los archivos aqui</h4>
          <img src="assets/images/drop-images.png">
        </div>
      </div>
      <div class="col-md-8">
        <label>Lista de imagenes</label>
        <hr>
        <a (click)="cleanFiles()" class="btn btn-outline-danger">Clear</a>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Tamaño</th>
              <th>Progreso</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td [ngClass]="{ 'text-green': file.progress >= 100 }">{{ file.nameFile }}</td>
              <td>2</td>
              <!--
                <td>{{ file.file.size / 1024 /1024 || number: '.2-2' }} MB</td>
                -->
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progres  + '%' }"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
    <hr>

    <div class="col text-center">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!dataForm.valid">
        Guardar Producto
      </button>
    </div>

  </form>
  
</div>