<div class="container mt-4">

  <h4>Product <small>Registrer</small></h4>
  <hr>
  
  <form (ngSubmit)="saveData(dataForm)" #dataForm="ngForm" novalidate="">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Name</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (name.errors?.required || name.errors?.minlength) && name.touched }" 
                minlength="5" 
                [(ngModel)]="product.name" 
                name="name" type="text" 
                placeholder="Name" 
                #name="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="name.errors?.required">
            Este campo es requerido.
        </div>

        <div class="invalid-feedback" *ngIf="name.errors?.minlength">
            Este campo requiere al menos 5 caracteres.
        </div>

      </div>
      
      <div class="col-md-6 mb-3">
        <label>Stock</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (stock.errors?.required) && stock.touched }" 
                [(ngModel)]="product.stock" 
                name="stock" type="number" 
                placeholder="Stock"
                #stock="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="stock.errors?.required">
            Este campo es requerido.
        </div>
        
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Price</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (price.errors?.required) && price.touched }" 
                [(ngModel)]="product.price" 
                name="price" type="text" 
                placeholder="Price" 
                #price="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="price.errors?.required">
            Este campo es requerido.
        </div>

      </div>
      
      <div class="col-md-6 mb-3">
        <label>Discount Price</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (discount_price.errors?.required) && discount_price.touched }" 
                [(ngModel)]="product.discount_price" 
                name="discount_price" type="number"
                placeholder="Discount Price" 
                #discount_price="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="discount_price.errors?.required">
            Este campo es requerido.
        </div>
        
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Color</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (color.errors?.required) && color.touched }" 
                [(ngModel)]="product.color" 
                name="color" type="text" 
                placeholder="Color" 
                #color="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="color.errors?.required">
            Este campo es requerido.
        </div>

      </div>
      
      <div class="col-md-6 mb-3">
        <label>Size</label>
        <input class="form-control" 
                [ngClass]="{ 'is-invalid': (size.errors?.required) && size.touched }" 
                [(ngModel)]="product.size" 
                name="size" type="number"
                placeholder="Size" 
                #size="ngModel" required>
        
        <div class="invalid-feedback" *ngIf="size.errors?.required">
            Este campo es requerido.
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" 
              [ngClass]="{ 'is-invalid': (description.errors?.required) && description.touched }" 
              [(ngModel)]="product.description" 
              name="description"
              placeholder="Insert description of your product" 
              #description="ngModel" required></textarea>
      
      <div class="invalid-feedback" *ngIf="description.errors?.required">
          Este campo es requerido.
      </div>
      
    </div>
    
    <div class="form-group">
      <label>Sex</label>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation2" name="name" required>
          <label class="custom-control-label" for="customControlValidation2">Hombre</label>
      </div>
      
      <div class="custom-control custom-radio mb-3">
        <input type="radio" class="custom-control-input" id="customControlValidation3" name="name" required>
        <label class="custom-control-label" for="customControlValidation3">Mujer</label>
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-4">
        <label>Select files</label>
        <div NgDropFiles [files]="files" (aboutMouse)="isAboutElement = $event" [ngClass]="{ 'file-over': isAboutElement }" class="well drop-zone">
          <h4>Files here</h4>
          <img src="assets/images/drop-images.png">
        </div>
      </div>
      <div class="col-md-8">
        <label>Upload files</label>
        <hr>
        <button (click)="uploadImages()" [disabled]="files.length === 0" class="btn btn-outline-success">Upload</button>
        <button class="btn btn-outline-danger">Clear</button>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name File</th>
              <th>Size File</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.nameFile }}</td>
              <td>2</td>
              <!--
                <td>{{ file.file.size / 1024 /1024 || number: '.2-2' }} MB</td>
                -->
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progres  + '%' }"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
    <hr>

    <div class="col text-center">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!dataForm.valid">
        Save Product
      </button>
    </div>

  </form>
  
</div>